# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:             lsp-plugin-fw ((null))
#   Package version:     0.5.0
#   Plugin name:         Sprungfilter Mono (Surge Filter Mono)
#   Plugin version:      1.0.1
#   UID:                 surge_filter_mono
#   LV2 URID:            http://lsp-plug.in/plugins/lv2/surge_filter_mono
#   VST identifier:      feli
#   LADSPA identifier:   5002164
#   LADSPA label:        http://lsp-plug.in/plugins/ladspa/surge_filter_mono
# 
# (C) LSP Plugin Framework
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Bypass [boolean]: true/false
bypass = false

# Fade in mode: 0..4
#   0: Linear
#   1: Cubic
#   2: Sine
#   3: Gaussian
#   4: Parabolic
modein = 3

# Fade out mode: 0..4
#   0: Linear
#   1: Cubic
#   2: Sine
#   3: Gaussian
#   4: Parabolic
modeout = 4

# Input gain [G]: 0.00000000..15.84893036
input = 0.00 db

# Threshold for switching on [G]: 0.000001000000..0.063100002706

# Threshold for switching off [G]: 0.000001000000..0.063100002706

# RMS estimation time [ms]: 4.00000000..100.00000000
rms = 7.26678

# Fade in time [ms]: 0.00000000..1000.00000000
fadein = 1000.00000

# Fade out time [ms]: 0.00000000..500.00000000
fadeout = 490.00000

# Fade in cancel delay time [ms]: 0.00000000..100.00000000
fidelay = 0.00000

# Fade out cancel delay time [ms]: 0.00000000..100.00000000
fodelay = 10.00000

# Output gain [G]: 0.00000000..15.84893036
output = 0.00 db

# Gain reduction visibility [boolean]: true/false
grv = true

# Envelope visibility [boolean]: true/false
ev = true

# Input graph visibility [boolean]: true/false
igv = true

# Output graph visibility [boolean]: true/false
ogv = true


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
